In [160]:
#Importing required libraries
import numpy as np
import pandas as pd

In [161]:
#Loading dataset and making a copy
dataset = pd.read_csv("E:\\Top mentor files\\Batch 83 Day 22\\Hitters.csv")
hitters = dataset.copy()
hitters.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [162]:
#Checking shape
print(f'No.of rows {hitters.shape[0]}')
print(f'No.of columns {hitters.shape[1]}')

No.of rows 322
No.of columns 20

In [163]:
#Getting statistical info on dataset
hitters.describe()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary
count,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.00000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,322.000000,263.000000
mean,380.928571,101.024845,10.770186,50.909938,48.027950,38.742236,7.444099,2648.68323,717.571429,69.490683,358.795031,330.118012,260.239130,288.937888,106.913043,8.040373,535.925882
std,153.404981,46.454741,8.709037,26.024095,26.166895,21.639327,4.926087,2324.20587,654.472627,86.266061,334.105886,333.219617,267.058085,280.704614,136.854876,6.368359,451.118681
min,16.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,19.00000,4.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.500000
25%,255.250000,64.000000,4.000000,30.250000,28.000000,22.000000,4.000000,816.75000,209.000000,14.000000,100.250000,88.750000,67.250000,109.250000,7.000000,3.000000,190.000000
50%,379.500000,96.000000,8.000000,48.000000,44.000000,35.000000,6.000000,1928.00000,508.000000,37.500000,247.000000,220.500000,170.500000,212.000000,39.500000,6.000000,425.000000
75%,512.000000,137.000000,16.000000,69.000000,64.750000,53.000000,11.000000,3924.25000,1059.250000,90.000000,526.250000,426.250000,339.250000,325.000000,166.000000,11.000000,750.000000
max,687.000000,238.000000,40.000000,130.000000,121.000000,105.000000,24.000000,14053.00000,4256.000000,548.000000,2165.000000,1659.000000,1566.000000,1378.000000,492.000000,32.000000,2460.000000

In [196]:
#Column names of dataset
hitters.columns

Index(['AtBat', 'Hits', 'HmRun', 'Runs', 'RBI', 'Walks', 'Years', 'CAtBat',
       'CHits', 'CHmRun', 'CRuns', 'CRBI', 'CWalks', 'PutOuts', 'Assists',
       'Errors', 'Salary', 'League_N', 'Division_W', 'NewLeague_N'],
      dtype='object')

In [197]:
#Dropping null values in Salary column
hitters.dropna(inplace=True)

In [198]:
#Checking shapre after dropping null values
hitters.shape

(262, 20)

In [167]:
#One hot encoding League, Division and NewLeague columns
hitters = pd.get_dummies(hitters, columns=['League', 'Division', 'NewLeague'], drop_first=True)

In [168]:
#Re-creating dataset after adding dummy columns
hitters = pd.DataFrame(hitter_scaled, columns=hitters.columns)
hitters

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,Salary,League_N,Division_W,NewLeague_N
0,-0.598769,-0.591438,-0.525865,-1.205715,-0.517484,-0.092734,1.394389,0.345589,0.173528,-0.000186,-0.121327,0.259021,0.434190,1.220406,-0.525260,0.210003,-0.129722,1.054942,0.977356,1.071233
1,0.517942,0.498397,0.756320,0.452124,0.808298,1.616324,-0.900659,-0.452577,-0.409646,-0.073252,-0.414203,-0.198680,0.010032,2.106457,-0.256205,0.816294,-0.118586,-0.947919,0.977356,-0.933503
2,0.633699,0.743054,0.989445,0.412652,1.042260,-0.185116,0.768467,1.298578,1.315193,1.899541,1.409479,1.570272,0.354660,-0.323037,-0.746024,-0.851005,-0.074045,1.054942,-1.023169,1.071233
3,-0.557914,-0.457989,-0.176178,-0.613630,-0.361509,-0.508451,-1.109300,-0.989645,-0.958879,-0.694317,-0.945607,-0.879046,-0.861008,1.838498,-0.545957,-0.699433,-0.983797,1.054942,-1.023169,1.071233
4,1.301003,1.365817,-0.875552,0.767903,-0.010567,-0.277497,0.768467,0.765010,0.633280,-0.609073,0.422155,0.017800,-0.251280,-0.030069,2.082504,2.483593,0.482718,-0.947919,0.977356,-0.933503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,0.640508,0.431672,-0.525865,0.412652,-0.127548,-0.185116,-0.483378,0.019325,0.128788,-0.450762,0.053795,-0.059514,-0.463360,0.123561,-0.759821,-0.851005,0.371365,1.054942,-1.023169,1.071233
258,0.606462,0.631846,-0.758990,0.846848,-0.049561,2.447757,0.977108,1.247408,1.216454,-0.365518,1.617814,0.373446,2.327754,0.080688,1.806550,1.725730,0.761100,-0.947919,-1.023169,-0.933503
259,0.490706,0.409431,-0.992114,0.254763,-0.322516,0.507746,-0.274737,-0.419338,-0.446673,-0.755206,-0.435338,-0.733695,-0.433063,-0.905401,-0.042341,-0.244715,-0.330157,-0.947919,0.977356,-0.933503
260,1.158009,0.809778,-0.292740,1.202099,0.340375,1.708705,0.142545,0.235814,0.207470,0.340791,0.328555,0.277576,0.271343,3.657045,0.081838,0.513149,0.950400,-0.947919,-1.023169,-0.933503
261,1.552944,1.388058,-0.292740,0.886320,-0.283522,-0.462260,0.768467,0.983685,1.133143,-0.475118,1.249454,0.082744,-0.042988,0.420102,-0.794315,-0.851005,1.039482,-0.947919,0.977356,-0.933503

In [169]:
#Splitting Dataset into independent and dependent variables
X = hitters.drop(["Salary"], axis=1)
y = hitters['Salary']

In [170]:
#Splitting dataset into training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(183, 19)
(79, 19)
(183,)
(79,)

In [171]:
#Importing regressioon models and creating objects and making a list of those objects

#Linear Regression
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

#K-nearest-neighbours
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors = 5)

#Decision Tree
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()

#Random Forest
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()


#A list of all the regressor models
models_list = [lr, knn, dt, rf]

In [172]:
#Importing r2 score to check accuracy
from sklearn.metrics import r2_score


#A for loop that will iterate through models list, create and train a each model and print prediction Score
for model in models_list:
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    score = r2_score(y_test, y_pred)
    print(f'For {model} model your accuracy is {score*100}%')

For LinearRegression() model your accuracy is 49.80774465254952%
For KNeighborsRegressor() model your accuracy is 49.82938369657762%
For DecisionTreeRegressor() model your accuracy is 34.95335884264663%
For RandomForestRegressor() model your accuracy is 57.34360099294597%

In ridge-lasso-regression repository where we applied linear regression along with ridge and lasso, we saw that 
the highest accuracy we are getting with test dataset is 43.113%

So here we can conclude that Random Forest Regressor is giving the highest accuracy with test data.